#burguerForm .form{
    max-width: 400px;
    margin: 0px auto;
}

#burguerForm .form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

#burguerForm .form label{
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;
    padding: 5px 10px;
    border-left: 4px solid orange;
}
#burguerForm input, select{
    padding: 5px 10px;
    width: 300px;
}

#burguerForm .optionals-container{
    display: flex;
    justify-content: flex-start;
}

#burguerForm #optionals{
    width: 10%;
}

#burguerForm .optionals-container .checkbox{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#burguerForm .optionals-container .checkbox span,
#burguerForm .optionals-container .checkbox input{
    width: auto;
}
#burguerForm .optionals-container .checkbox span{
    margin-left: 6px;
    font-weight: bold;
}

#burguerForm .optionals-container label{
    width: 100%;
}

#burguerForm .btn-submit{
    background-color: #222;
    color: orange;
    font-weight: bold;
    border: 2px solid #222;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
}

#burguerForm .btn-submit:hover{
    background-color: transparent;
    color: #222;
    transition: .5s;
}